<footer class="footer">
  <footer class="footer-container p-grid">
    <div class="footer-left p-col-12 p-lg-6">
      <svg viewBox="0 0 36 52" xmlns="http://www.w3.org/2000/svg" class="footer-left-icon">
        <rect fill="#EC1D24" width="100%" height="100%"></rect>
        <path fill="#FEFEFE" d="M31.5 48V4H21.291l-3.64 22.735L14.102 4H4v44h8V26.792L15.577 48h4.229l3.568-21.208V48z">
        </path>
      </svg>

      <ul class="footer-left-list">
        <li class="footer-left-list-item"><a href="https://www.marvel.com/corporate/about">About marvel</a></li>
        <li class="footer-left-list-item"><a href="https://help.marvel.com/">Help/Faqs</a></li>
        <li class="footer-left-list-item"><a
            href="https://jobs.disneycareers.com/search-jobs?orgIds=391-1635-24091&ascf=[{%22key%22:%22custom_fields%252EIndustryCustomField%22,%22value%22:%22Marvel%20Entertainment%22}]">Careers</a>
        </li>
        <li class="footer-left-list-item"><a href="https://www.marvel.com/corporate/interns">Internships</a></li>
      </ul>
    </div>
    <div class="footer-right p-col-12 p-lg-6">
      <div class="footer-right-profile p-grid">
        <img class="footer-right-profile-picture" src="https://github.com/LeandroFariasLourenco.png?size=120"
          alt="Leandro Farias Lourenço" title="Leandro Farias Lourenço" />
        <span class="footer-right-profile-name">
          Made with <span class="heart">❤</span> by <br />
          <a href="https://github.com/LeandroFariasLourenco"> Leandro Farias Lourenço</a>
        </span>
      </div>
    </div>
  </footer>
</footer>