@import "index";

.footer {
  padding: 20px 30px;
  background-color: $color-secondary;

  &-left {
    display: flex;

    @include custom(min, $mobile) {
      flex-direction: row;
    }

    @include custom(max, $mobile) {
      align-items: center;
      flex-direction: column;
      order: 2;
    }

    &-icon {
      @include custom(min, $mobile) {
        width: 100px;
      }

      @include custom(max, $mobile) {
        width: 50px;
        margin-top: 50px;
      }
    }

    &-list {
      display: flex;
      flex-flow: column;
      justify-content: space-around;

      @include custom(min, $mobile) {
        margin-left: 80px;
      }

      @include custom(max, $mobile) {
        margin-top: 20px;
      }

      &-item {
        text-transform: uppercase;
        font-weight: bold;

        @include custom(max, $mobile) {
          margin-bottom: 20px;
          text-align: center;
        }
      }
    }
  }

  &-container {
    width: 75%;
    margin: 0 auto;
    align-items: center;
    display: flex;
  }

  &-right {
    @include custom(max, $mobile) {
      order: 1;
    }

    &-profile {
      display: flex;
      align-items: center;
      @include betweenmq(0, $mobile) {
        align-items: center;
        justify-content: center;
      }

      &-picture {
        border-radius: 100px;

        @include custom(min, $mobile) {
          margin-right: 20px;
        }
      }

      &-name {
        margin-top: 10px;

        a {
          color: $color-primary;
          font-weight: bold;
        }
      }
    }
  }
}
