@import "index";

.characters-shelf {
  width: 100%;
  justify-content: center;
  margin: 0;

  @include custom(min, $mobile) {
    padding: 0 20px;
  }

  @include custom(max, $mobile) {
    padding: 0 10px;
  }

  &-character {
    justify-content: center;
  }

  &-pagination {
    margin: 0 auto;
    justify-content: center;
  }

  &-filters {
    width: 100%;
    border: 1px solid $color-primary;
    padding: 20px;
    background-color: $color-secondary;
    display: flex;

    &-wrapper {
      display: flex;
    }

    &-input {
      border: none;
      background-color: rgba($color-primary, 0.75);
      color: $color-font-primary;
      margin-right: 15px;

      &::placeholder {
        color: $color-font-primary;
        font-weight: bold;
      }
    }
  }

  &-skeleton {
    height: 300px;

    @include betweenmq(992, 1280) {
      height: 230px;
    }

    @include betweenmq(630, $mobile) {
      height: 300px;
    }

    @include betweenmq(0, 630) {
      height: 230px;
    }
  }
}
